@model ContatoModel

@{
    ViewData["Title"] = "Edição";
}

<div class="text-center">
    <h1 class="display-4">Editar</h1>

</div>
<form asp-controller="Contato" asp-action="Editar" method="post">
    @if (Model != null)
    {
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" asp-for="Contato" class="form-control" value="@Model.Contato">
            
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Tipo</label>
            <input type="number" asp-for="Tipo_contato" class="form-control" value="@Model.Tipo_contato">
            
        </div>
    }

    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>
